* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: url(/assets/bg-header.png) no-repeat top center/cover;
}

body * {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

header {
    width: 100%;
}

header img {
    margin-left: 15%;
}

header .division {
    display: block;
    margin: 0 auto;
    
    width: 70%;
    height: 2px;
    background-color: #BFBFBF;
}

