* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --bg-url: url(/assets/bg-header.png);
    --primary-text-color: #ffffff;
    --secondary-color: #BFBFBF;
    --tertiary-text-color: #EFEFEF;
    --highlighted-color: #852D86;
    --button-color: #EFC740;
    --button-text-color: #433B0D;
    --form-background-color: rgba(43, 79, 136, 0.60);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
}

body * {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

header {
    width: 100%;
    height: 100%;
}

.logo {
    margin-left: 15%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.15rem;
}

.navbar .nav-links {  
    margin-left: 15%;
}

.navbar .nav-links ul li {
    display: inline-block;
    margin: 0 2.5rem; 
}

.nav-link-right {
    width: 100%;
    margin-left: 2.5rem;
}

.border {
    width: 70%;
    border-left: 2px solid var(--secondary-color);
    margin-left: 8rem;
}

.division {
    display: block;
    margin: 0 auto;
    
    width: 70%;
    height: 2px;
    background-color: var(--secondary-color);
}

.container {
    margin-left: 15%;
}

.container p {
    margin-top: 70px;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -2.5px;
}

.container p span {
    color: var(--highlighted-color);
}

.container .button {
    width: 416px;
    height: 80px;

    margin-top: 70px;

    border-radius: 15px;
    background: var(--highlighted-color);
}

.container .button .button-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
}

.container .form {
    margin-top: 70px;
}

.container form .form-field {
    display: block;
    width: 626px;
    height: 60px;
    background: var(--form-background-color);
    font-size: 30px;
    margin-top: 15px;

    border-radius: 5px;
}

.container-content {
    display: flex;
    flex-direction: row;   
}

.button-register {
    width: 626px;
    height: 70px;
    border-radius: 15px;
    background-color: var(--button-color);
    margin-top: 20px;

    color: var(--button-text-color);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.container-image-robot {
    width: 100%;
}

.main-content {
    width: 100%;
    height: 16.8rem;
   
    background-color: var(--highlighted-color);
}

.main-content article {
    width: 70%;
    height: 100%;
    text-align: center;    
    margin: 0 auto;
}

.main-content article p {
    width: 100%;
    height: 100%;
    color: var(--tertiary-text-color);
    font-size: 40px;
    letter-spacing: -2px;  
    display: flex;
    align-items: center;
    justify-content: center;

   
}

/* .main-content article p span {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
} */

.tittle {
    width: 100%;
    color: var(--primary-text-color);
    text-align: center;
    font-size: 50px;

    margin: 8.75rem 0 2.5rem;
}

.text-section {
    margin-left: 2.5rem;
    margin-top: 7.8rem;
    
}

.image-man-ia {
    width: 39.125rem;
    height: 45.625rem;
}

.caption-section {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.8px;
    margin-bottom: 2rem;
}

.title-section {
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1.2px;
}

.paragraph-container {
    width: 90%;
    height: 5rem;
    display: flex;
    flex-direction: row;

    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 1rem;
}

.paragraph-container img {
    margin: auto;
    width: 32px;
    height: 32px;
}

.paragraph-container .paragraph {
    width: 100%;
    height: 100%;
    color: var(--tertiary-text-color);
    font-size: 18px;
    letter-spacing: -0.9px;
    padding-left: 16px; 
    margin: auto;
    display: flex;
    align-items: center;
}
